html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Nunito', sans-serif;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

:root {

    --8px: 0.5rem;
    --12px: 0.75rem;
    --16px: 1rem;
    --20px: 1.25rem;
    --24px: 1.5rem;
    --28px: 1.75rem;
    --32px: 2rem;
    --36px: 2.25rem;
    --40px: 2.5rem;
    --44px: 2.75rem;
    --48px: 3rem;

    --clr-orange: #FF6700;
    --clr-blue-400: #3A6EA5;
    --clr-blue-600: #004E98;
    --clr-gray-200: #EBEBEB;
    --clr-gray-400: #C0C0C0;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding-inline: var(--32px);
    margin-inline: auto;
}

.color-orange {
    color: var(--clr-orange);
}

.btn {
    font-size: var(--20px);
    min-width: 150px;
    width: fit-content;
    padding: var(--12px) var(--24px);
    background-color: var(--clr-orange);
    color: #000;
    font-weight: 600;
    border-radius: 16px;
    transition: all 0.3s;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--clr-blue-600);
    color: #fff;
}

/* HEADER STYLES */

header {
    padding-block: var(--16px);
    box-shadow: 2px 4px 16px var(--clr-gray-200);
}

.logo,
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container{ 
    display: grid;
    grid-template-columns: auto 1fr;
}

.logo {
    gap: var(--8px);
}

.logo * { 
    font-family: 'Aleo', serif;
}

.logo svg path {
    fill: var(--clr-orange);
}

.logo-name {
    color: var(--clr-blue-400);
}

.nav-list {
    font-size: var(--20px);
    font-weight: 600;
    height: 100%;
    gap: var(--32px);
}

/* BANER */


.baner {
    position: relative;
}

.baner img {
    width: 100%;
    object-fit: cover;
    height: 100vh;
}

.baner-content {
  background-color: rgba(245, 245, 245, 0.925);
  color: black;
  font-size: var(--20px);
  max-width: 600px;
  padding: var(--32px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 32px;
}

/* DAMAGE FORM */

.dmg-valuation {
    margin-block: var(--48px);
}

.damage-valuation__form { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(225px, 100%), 1fr));
    gap: var(--24px) var(--32px);
    align-content: center;
    max-width: 750px;
    margin-inline: auto;
    box-shadow: 1px 4px 16px var(--clr-gray-400);
    padding: var(--40px) var(--32px);
    border-radius: 16px;
}

.damage-valuation__form select {
    background-color: rgba(255, 102, 0, 0.05);
    padding: var(--16px);
    font-size: 1.5rem;
    border: 2px solid var(--clr-orange);
    outline: 0;
    border-radius: 16px;
}

.confirm-form {
    margin-inline: auto;
    grid-column: 1/3;
    margin-top: var(--32px);
}